{% extends 'base.html' %}{% block content %}
  <body>
    <h1>Match History for {{user.username}}</h1>
    <section>
    {% for game in games %}
        {% for puuid in game['info']['participants']%}
            {% if puuid['puuid'] == user.puuid %}
                {% set player = puuid %}
                <h2>Team 1</h2>
                {% for puuid in game['info']['participants']%}
                    {% if puuid['teamId'] == player.teamId %}
                    {{puuid['summonerName']}} <small>{{puuid['championName']}}</small>
                    KDA:{{puuid['kills']}}/{{puuid['deaths']}}/{{puuid['assists']}}
                    Gold: {{puuid['goldEarned']}} Damage to Champions:{{puuid['totalDamageDealtToChampions']}}
                    Control Wards Purchased: {{puuid['visionWardsBoughtInGame']}}
                    <hr>
                    {%endif%}
                    {%endfor%}
                <h2>Team 2</h2>
                {% for puuid in game['info']['participants']%}
                    {% if puuid['teamId'] != player.teamId %}
                    {{puuid['summonerName']}} <small>{{puuid['championName']}}</small>
                    KDA:{{puuid['kills']}}/{{puuid['deaths']}}/{{puuid['assists']}}
                    Gold: {{puuid['goldEarned']}} Damage to Champions:{{puuid['totalDamageDealtToChampions']}}
                    Control Wards Purchased: {{puuid['visionWardsBoughtInGame']}}
                    <hr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endfor %}
  </body>
  {% endblock %}
