{% extends 'base.html' %}{% block content %}

<div class="row">
  <div class="col-6">
    <div class="d-flex align-items-center">
      <img src="{{user.image_url}}" class="avatar-img" alt="Profile Picture" />
      <div class="d-flex flex-column">
        <br />
        <h2 class="m-0">{{user.username.capitalize()}}</h2>
        <p class="m-0">Bio</p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="d-flex justify-content-center">
      <div class="d-flex flex-column">
        {% if user.summoner == None %}
        <form method="POST" action="/update_summoner/{{user.username}}">
          <p class="mt-2">Add a Summoner Name to your Profile!</p>
          <input
            class="form-control"
            type="text"
            name="summoner"
            placeholder="Summoner Name"
            maxlength="16"
          /><button class="btn btn-primary btn-sm" type="submit">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<div class="row mt-5">
  <div class="col-lg-3">
    {% if user.summoner is none %} {% else %}
    <div class="card custom-card" style="width: 14rem">
      <div class="card-body">
        <h5 class="card-title">{{rank[1]['summonerName']}}</h5>
        <h6 class="mb-2">
          {{rank[1]['tier']}} - {{rank[1]['rank']}}
          <br />{{rank[1]['wins']}}-{{rank[1]['losses']}} {% set total =
          rank[1]['losses']+rank[1]['wins'] %}
          <small>WR: {{(rank[1]['wins']/total*100)|round()|int }}% </small>
        </h6>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="col-lg-9">
    {% if user.summoner is none %} {% else %}
    <h1 class="d-flex justify-content-center">
      Match History for {{user.summoner}}
    </h1>
    {% for game in games %}
    <h3 class="d-flex justify-content-center">Match</h3>
    <div class="col-12 d-flex justify-content-center">
      <table class="table blueteam text-center">
        <tbody>
          <tr>
            <th>Summoner</th>
            <th>Champion</th>
            <th>KDA</th>
            <th>Gold</th>
            <th>Damage</th>
            <th>Control Wards</th>
          </tr>
          {% for puuid in game['info']['participants'] %} {% if puuid['puuid']
          == summoner['puuid'] %} {% set player = puuid %} {% for puuid in
          game['info']['participants'] %} {% if puuid['teamId'] == player.teamId
          %}
          <tr>
            <td>{{puuid['summonerName']}}</td>
            <td>{{puuid['championName']}}</td>
            <td>{{puuid['kills']}}/{{puuid['deaths']}}/{{puuid['assists']}}</td>
            <td>{{puuid['goldEarned']}}</td>
            <td class="">{{puuid['totalDamageDealtToChampions']}}</td>
            <td>{{puuid['visionWardsBoughtInGame']}}</td>
          </tr>
          {%endif%} {%endfor%}
        </tbody>
      </table>
      {% endif %} {% endfor %}
    </div>

    <div class="col-12 d-flex justify-content-center">
      <table class="table redteam text-center">
        <tbody>
          <tr>
            <th>Summoner</th>
            <th>Champion</th>
            <th>KDA</th>
            <th>Gold</th>
            <th>Damage</th>
            <th>Control Wards</th>
          </tr>
          {% for puuid in game['info']['participants'] %} {% if puuid['puuid']
          == summoner['puuid'] %} {% set player = puuid %} {% for puuid in
          game['info']['participants'] %} {% if puuid['teamId'] != player.teamId
          %}
          <tr>
            <td>{{puuid['summonerName']}}</td>
            <td>{{puuid['championName']}}</td>
            <td>{{puuid['kills']}}/{{puuid['deaths']}}/{{puuid['assists']}}</td>
            <td>{{puuid['goldEarned']}}</td>
            <td class="">{{puuid['totalDamageDealtToChampions']}}</td>
            <td>{{puuid['visionWardsBoughtInGame']}}</td>
          </tr>
          {%endif%} {%endfor%}
        </tbody>
      </table>
      {% endif %} {% endfor %}
    </div>
    {%endfor%} {% endif %}
  </div>
</div>

{% endblock %}
